<!DOCTYPE html>
 <html lang="en" th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org">
    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">Base Page</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/output.css" rel="stylesheet">
    <link href="/dark-fallback.css" rel="stylesheet">
</head>
<body class="text-base md:text-lg lg:text-xl bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 leading-relaxed">
    <!-- common header  -->
    <div data-th-replace="~{navbar::navbar}">

    </div>
    <div class="p-4 mt-20"><section data-th-replace="${content}"></section></div>
    <!-- common footer  -->
     <footer class="px-4 m2">Footer: all rights reserved to @ Smart Contact Manager</footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}">

    </script>
    <div th:if="${script != null}" th:utext="${script}"></div>
</body>
</html>
