<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>  
    <title>Services Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome To Services Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odio assumenda recusandae iure aliquam nulla exercitationem? Quidem, similique. Amet accusantium illum asperiores facere facilis cumque vero eveniet sit qui recusandae.</p>
    </div>
    <script>
        console.log("This is services page");
    </script>
</body>
</html>